.reviews {
    background-color: $color-primary-lightest;

    padding-top: $space-y-desktop-index-section;
    padding-bottom: $space-y-desktop-index-section;

    @include mediaMax($screen-md) {
        padding-top: $space-y-mobile-index-section;
        padding-bottom: $space-y-mobile-index-section;
    }

    &__wrapper {
        @include container(
            $xl-grid-gutter:  0,
            $xxl-grid-gutter: 0
        );
        text-align: center;
        overflow-x: hidden;
    }

    &__title {
        text-align: center;

        margin-bottom: $base-d * 32;

        @include mediaMax($screen-md) {
            margin-bottom: $base-m * 16;
        }
    }

    &__slides {
        position: relative;

        margin-bottom: $base-d * 32;

        // @include mediaMax($screen-md) {
        //     margin-bottom: $base-m * 32;
        // }
    }

    &__list {
        text-align: left;

        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    &__pagination {
        bottom: -$base-m * 20 !important;

        .swiper-pagination-bullet {
            background-color: transparent;
            opacity: 1;
            border: 1px solid $color-primary;

            &-active {
                background-color: $color-primary;
            }
        }
    }
}

[data-theme="bright"] .reviews {
    background-color: $color-primary-dark;

    &__title {
        color: white;
    }

    .swiper-pagination-bullet {
        border-color: $secondary;

        &-active {
            background-color: $secondary;
        }
    }
}