@import '../../modules/accordion/accordion.scss';
@import '../../modules/btn/btn.scss';
@import '../../modules/title/title.scss';
.faq {
    @include container(
        $xl-grid-gutter:  0,
        $xxl-grid-gutter: 0
    );

    padding-top: $space-y-mobile-index-section;

    @include mediaMin($screen-sm) {
        padding-top: $space-y-desktop-index-section;
    }

    &__title {
        text-align: center;
        
        margin-bottom: $base-d * 24;
    }

    &__subtitle {
        border-bottom: 1px solid $color-gray-lightest;

        margin: 0;
        padding-bottom: $base-d * 12;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $base-d * 48;

        @include mediaMax($screen-lg) {
            gap: $base-d * 24;
        }

        @include mediaMax($screen-md) {
            grid-template-columns: 1fr;
        }
    }

    &__link {
        margin-top: $base-d * 12;
    }
}