// модификаторы для различных вариаций/типов модуля icon-text
// типы: kind | hint | check
// kind - иконка с круглой белой рамкой малого размера с текстом справа от нее
// hint - иконка с круглой белой рамкой среднего размера с текстом справа от нее
// check - иконка с круглой белой рамкой большого размера с текстом под ней

.icon-text {
    &--kind {
        @media (min-width: $screen-lg) {
            &::after {
                content: '';
                position: absolute;
                @include sqr(2.75em);
                background-color: #fff;
                border-radius: 50px;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05), 0px 7px 55px rgba(0, 0, 0, 0.05);
                transition: .2s ease-out;
            }
            
            &:hover::after {
                width: 100%;
            }
    
            .icon-text__icon {
                border-radius: 50px;
            }
        }
    }

    &--hint {
        .icon-text__text {
            margin-left: .875em;
        }
    }

    &--check {
        flex-direction: column;

        .icon-text__icon {
            color: $primary-light;
        }

        .icon-text__text {
            text-align: center;
            font-size: 1em;
            max-width: min-content;

            margin-top: 1.5em;
        }
    }
}