// модификаторы для различных вариаций/типов модуля icon-text
// типы: kind | hint | check
// kind - иконка с круглой белой рамкой малого размера с ссылкой справа от нее(есть ховер)
// hint - иконка с круглой белой рамкой среднего размера с текстом справа от нее
// check - иконка с круглой белой рамкой большого размера с текстом под ней

.icon-text {
    &--kind {
        @media (min-width: $screen-lg) {
            .icon-text__circle {
                position: absolute;
                @include sqr(2.75em);
                background-color: #fff;
                border-radius: $brad-xl;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05), 0px 7px 55px rgba(0, 0, 0, 0.05);
                transition: .2s ease-out;
            }

            .icon-text__icon--lg~.icon-text__circle {
                @include sqr(4em);
            }
            
            &:hover .icon-text__circle {
                width: 100%;
            }
    
            .icon-text__icon {
                border-radius: $brad-xl;
            }
        }
    }

    &--hint {
        .icon-text__text {
            margin-left: .875rem;

            @media (max-width: $screen-md) {
                margin-left: 1rem;
            }
        }
    }

    &--check {
        flex-direction: column;

        .icon-text__icon {
            color: $color-primary-light;
        }

        .icon-text__text {
            text-align: center;
            font-size: 1em;

            @include mediaMax($screen-md) {
                margin-left: $base-m * 8;
            }

            @include mediaMin($screen-md) {
                max-width: min-content;

                margin-top: 1.5em;
            }
        }

        @include mediaMax($screen-md) {
            flex-direction: row;
            align-items: center;
        }
    }
}

.layout--bright .icon-text--check .icon-text__text {
    max-width: unset;
}