.download-app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $base-m * 12;

    @include mediaMax($screen-sm) {
        gap: $base-m * 5;
    }
    
    &__link {
        transition: .2s ease-out;
        border-radius: $brad-xs;

        &:hover {
            box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.2);
        }
    }
}