.grid-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    &--horizontal {
        align-items: center;
        justify-content: center;
    }
    &--vertical {
        flex-direction: column;
    }

    &__item {
        list-style-type: none;
    }
}