.social {
    display: flex;
    align-items: center;

    &__text {
        display: inline-block;
        margin-right: $base-m * 5;
    }

    @include mediaMax($screen-md) {
        flex-direction: column;

        &__text {
            margin-right: 0;
            margin-bottom: $base-m * 7;
        }
    }

    &__icon {
        display: flex;
        border-radius: $brad-xs;
        transition: background .2s ease-out;

        padding: $base-d;

        &:not(:first-of-type) {
            margin-left: $base-d * 5;
        }

        &--vk:hover {
            background-color: $color-vk;
        }
        &--is:hover {
            background-color: $color-instagram;
        }
        &--yt:hover {
            background-color: $color-youtube;
        }
        &--fb:hover {
            background-color: $color-facebook;
        }
    }
}