.promo {
    @include container(
        $xs-grid-gutter:  32px,
        $sm-grid-gutter:  32px,
        $md-grid-gutter:  32px,
        $lg-grid-gutter:  32px,
        $xl-grid-gutter:  0,
        $xxl-grid-gutter: 0
    );
    max-width: 35.8em;

    @media (max-width: $screen-lg) {
        max-width: 28.8em;
    }

    @media (max-width: $screen-md) {
        max-width: 320px;
    }

    @media (max-width: $screen-sm) {
        background-position: center 57%;
        background-repeat: no-repeat;
        background-size: 20em;
    }

    &--default {
        .promo__inner::before {
            background-image: url('../img/promo-left.svg');
        }
        .promo__inner::after {
            background-image: url('../img/promo-right.svg');
        }

        @media (max-width: $screen-sm) {
            background-image: url('../img/promo-mobile.svg');
        }
    }

    &--vn {
        .promo__inner::before {
            background-image: url('../img/promo-left-vn.svg');
        }
        .promo__inner::after {
            background-image: url('../img/promo-right-vn.svg');
        }

        @media (max-width: $screen-sm) {
            background-image: url('../img/promo-mobile-vn.svg');
        }
    }

    &--tr {
        .promo__inner::before {
            background-image: url('../img/promo-left-tr.svg');
        }
        .promo__inner::after {
            background-image: url('../img/promo-right-tr.svg');
        }

        @media (max-width: $screen-sm) {
            background-image: url('../img/promo-mobile-tr.svg');
        }
    }

    &__inner {
        position: relative;
        text-align: center;
    }

    &__title {
        margin-bottom: .818181em;
    }

    &__text {
        font-size: 1.5em;
        line-height: 1.3;

        margin-bottom: 1.83em;

        @media (max-width: $screen-xl) {
            font-size: 1.1em;
        }

        @media (max-width: $screen-md) {
            font-size: .85em;
            line-height: 1.2;
            max-width: 63.44%;

            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: $screen-sm) {
            margin-bottom: 15.33em;
        }
    }

    &__btn {
        text-align: center;
        
        margin-bottom: 3.89vw;
    }

    &__inner::before,
    &__inner::after {
        content: '';
        position: absolute;
        width: 14em;
        background-size: cover;

        @media (max-width: $screen-lg) {
            width: 15.56vw;
        }

        @media (max-width: $screen-sm) {
            display: none;
        }
    }

    &__inner::before {
        top: 0;
        left: -19.3vw;
        height: 11.31em;

        @media (max-width: $screen-lg) {
            left: -17vw;
            height: 12.57vw;
        }
    }

    &__inner::after {
        top: 0;
        right: -19.3vw;
        height: 12em;

        @media (max-width: $screen-lg) {
            right: -17vw;
            height: 13.2vw;
        }
    }

    &--tr .promo__inner::after {
        height: 12.1em;

        @media (max-width: $screen-lg) {
            height: 13.5vw;
        }
    }
}