@import 'index.connector';

.index {
    font-family: $ff-primary;
    line-height: 1.5;
    color: $color-text;

    &__main {
        margin-top: 9.3vw;

        &.main--vn,
        &.main--tr {
            @media (max-width: $screen-sm) {
                margin-top: 14.3vw;
            }
        }
    }

    &__kinds {
        margin-top: 3.89vw;
    }

    &__steps {
        margin-top: 8.33vw;

        @include mediaMax($screen-sm) {
            margin-top: $space-y-mobile-index-section;
        }
    }

    &__best-workers,
    &__reviews,
    &__verification {
        margin-top: $space-y-desktop-index-section;

        @include mediaMax($screen-sm) {
            margin-top: $space-y-mobile-index-section;
        }
    }

    &__promo-app {
        @include mediaMax($screen-sm) {
            margin-top: $space-y-mobile-index-section;
        }
    }
}

[data-theme="bright"] .index {
    background-color: $color-primary-lightest;
}