@import '../plugins/bootstrap-grid/mixins/_screen-reader.scss';

@mixin mediaMin($screen) {
  @media screen and (min-width: $screen) {
    @content;
  }
}

@mixin mediaMax($screen) {
  @media screen and (max-width: $screen) {
    @content;
  }
}

@mixin textOverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin sqr($a) {
  width: $a;
  height: $a;
}

@mixin setFullScale {
  width: 100%;
  height: 100%;
}

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc( #{$k} * 100vw + #{$b} );
}

@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}