@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin mediaMin($screen) {
  @media screen and (min-width: $screen) {
    @content;
  }
}

@mixin mediaMax($screen) {
  @media screen and (max-width: $screen) {
    @content;
  }
}

@mixin textOverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin sqr($a) {
  width: $a;
  height: $a;
}

@mixin setFullScale {
  width: 100%;
  height: 100%;
}

//ui-kit design components
@mixin ui-section($paddings-x: $base-d * 12, $paddings-y: $base-d * 12) {
  background-color: #fff;
  border-radius: $brad-sm;
  box-shadow: 0px 0px 2px rgba(51, 51, 51, 0.04), 0px 0px 4px rgba(51, 51, 51, 0.04), 0px 2px 8px -2px rgba(51, 51, 51, 0.08);

  padding: $paddings-y $paddings-x;
}

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc( #{$k} * 100vw + #{$b} );
}

//функция для расчета отзывчивых размеров (отступы, ширины/высоты etc.) относительно ширины вьюпорта
//1 аргумент - нужный размер в px с конкретного экрана(e.g. десктопный экран в макете)
//2 аргумент - ширина конкретного экрана в px
@function calcResponsiveSpace($space-px, $screen-width) {
  @return 100vw / ($screen-width / $space-px);
}

@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}