//breakpoints
$screen-sm:                   575px;
$screen-md:                   767px;
$screen-lg:                   991px;
$screen-xl:                   1199px;
$screen-xxl:                  1499px;

$grid-columns:                12;
$grid-gutter-width:           30px;

$primary-dark: var(--primary-dark);
$primary: var(--primary);
$primary-light: var(--primary-light);
$primary-lighter: var(--primary-lighter);
$primary-lightest: var(--primary-lightest);

$secondary: #FF207B;

$color-gray-light: #E9E9E9;
$color-gray: #999999;
$color-gray-dark: #777777;

$ff-secondary: 'Open Sans', sans-serif;
$ff-primary: 'Roboto', sans-serif;

//defaults
$color-text: #333;
$time: .2s;
$border-radius: 3px;
$letter-spacing: .15px;