/*
 
 ___  ____ ____ ____ _  _ ___  ____ _ _  _ ___ ____ 
 |__] |__/ |___ |__| |_/  |__] |  | | |\ |  |  [__  
 |__] |  \ |___ |  | | \_ |    |__| | | \|  |  ___] 
                                                    
 
*/
$screen-sm:                   575px;
$screen-md:                   767px;
$screen-lg:                   991px;
$screen-xl:                   1199px;
$screen-xxl:                  1499px;

$grid-columns:                12;
$grid-gutter-width:           30px;

/*
 
 ____ ____ _    ____ ____ ____ 
 |    |  | |    |  | |__/ [__  
 |___ |__| |___ |__| |  \ ___] 
                               
 
*/
$color-primary-darkest-dim: var(--primary-darkest-dim);
$color-primary-darker-dim: var(--primary-darker-dim);

$color-primary-dark: var(--primary-dark);
$color-primary: var(--primary);
$color-primary-light: var(--primary-light);
$color-primary-lighter: var(--primary-lighter);
$color-primary-lightest: var(--primary-lightest);

$secondary: #FF207B;

//shades of gray
$color-gray-lightest: #E9E9E9;
$color-gray-lighter: #E6E6E6;
$color-gray-light: #C8C8C8;
$color-gray: #999999;
$color-gray-dark: #777777;
$color-gray-darker: #7A7A7A;

//social brand colors
$color-vk: #4c75a3;
$color-facebook: #3b5999;
$color-youtube: #cd201f;
$color-instagram: #e4405f;

/*
 
 ____ ____ _  _ ___ ____ 
 |___ |  | |\ |  |  [__  
 |    |__| | \|  |  ___] 
                         
 
*/
$ff-secondary: 'Open Sans', sans-serif;
$ff-primary: 'Roboto', sans-serif;

//базовая константа для размеров и отступов. опирается на корневой размер шрифта в html (в файле normalize)
$base-d: 0.125rem; /* desktop: 2px (если в html font-size:~16px) */
$base-m: 0.142rem; /* mobile: 2px (если в html font-size:~14px) */

/*
 
 ____ ___  ____ ____ ____ ____ 
 [__  |__] |__| |    |___ [__  
 ___] |    |  | |___ |___ ___] 
                               
 
*/
$space-y-desktop-index-section: 6.94vw;
$space-y-mobile-index-section: $base-m * 24;

/*
 
 ___  ____ ____ ___  ____ ____    ____ ____ ___  _ _  _ ____ 
 |__] |  | |__/ |  \ |___ |__/ __ |__/ |__| |  \ | |  | [__  
 |__] |__| |  \ |__/ |___ |  \    |  \ |  | |__/ | |__| ___] 
                                                             
 
*/
$brad-xs: 4px;
$brad-sm: 10px;
$brad-md: 20px;
$brad-lg: 25px;
$brad-xl: 50px;

/*
 
 ___  ____ ____ ____ _  _ _    ___ ____ 
 |  \ |___ |___ |__| |  | |     |  [__  
 |__/ |___ |    |  | |__| |___  |  ___] 
                                        
 
*/
$color-text: #333;
$letter-spacing: .15px;