.footer {
    color: $color-gray-light;
    background-color: $color-primary-darkest-dim;

    &__container {
        @include container(
            $xl-grid-gutter:  0,
            $xxl-grid-gutter: 0
        );
    }

    &__top {
        @include mediaMin($screen-md) {
            display: flex;
            flex-wrap: wrap;
    
            padding-top: calcResponsiveSpace(88, 1440);
            margin-bottom: calcResponsiveSpace(40, 1440);
        }

        @include mediaMax($screen-md) {
            text-align: center;

            padding-top: $space-y-mobile-index-section;
            margin-bottom: 0;
        }
    }

    &__logo {
        margin-bottom: $base-d * 8;

        @include mediaMax($screen-md) {
            justify-content: center;
            border-bottom: 1px solid $color-primary-darker-dim;

            margin-bottom: $base-m * 8;
            padding-bottom: $base-m * 8;
        }
    }

    &__phone--desktop {
        @include mediaMax($screen-md) {
            display: none;
        }
    }
    &__phone--mobile {
        @include mediaMin($screen-md) {
            display: none;
        }
    }

    &__menu {
        @include mediaMax($screen-md) {
            display: flex;
            flex-direction: column-reverse;

            .footer__col:nth-of-type(2) {
                border-bottom: 1px solid $color-primary-darker-dim;

                margin-bottom: $base-m * 8;
            }
        }

        @include mediaMin($screen-md) {
            display: grid;
            grid-template-columns: repeat(3, minmax($base-d * 73, $base-d * 96));

            margin-left: auto;
        }

        @include mediaMin($screen-lg) {
            gap: calcResponsiveSpace(64, 1440);
        }
    }

    &__text,
    &__link {
        margin-bottom: $base-d * 8;
    }

    &__link:last-of-type {
        @include mediaMin($screen-md) {
            margin-bottom: 0;
        }
    }

    &__separator {
        background-color: $color-primary-darker-dim;
        border: 0;
        width: 100%;
        height: 1px;

        margin: 0;
        margin-top: $base-d * 14;
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding-top: $base-d * 14;
        padding-bottom: $base-d * 14;

        @include mediaMax($screen-md) {
            flex-direction: column;
            align-items: center;

            padding-top: $base-m * 8;
            padding-bottom: $base-m * 20;
        }
    }

    &__social {
        @include mediaMax($screen-md) {
            margin-bottom: $base-m * 7;
        }
    }

    &__disclaimer {
        font-size: 90%;
    }
}

[data-theme="bright"] .footer {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 1930px;
        height: 1930px;
        left: -233px;
        top: -979px;
        background: radial-gradient(50% 50% at 50% 50%, #FFF6E9 33.48%, rgba(233, 238, 255, 0) 100%);
        opacity: 0.75;
        z-index: -2;
    
        @include mediaMax($screen-sm) {
            width: 446px;
            height: 446px;
            left: -62px;
            top: 475px;
        }
    }
}