.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__icon {
        width: 39px;
        height: 24px;
        color: $primary;

        margin-right: .33em;
    }

    &__text {
        font-size: 1.5em;
        line-height: 1.33;
        font-weight: 500;
        color: $color-text;
    }
}