.steps {
    @include container(
        $xl-grid-gutter:  0,
        $xxl-grid-gutter: 0
    );

    padding-top: $space-y-desktop-index-section;
    padding-bottom: $space-y-desktop-index-section;

    @media (max-width: $screen-md) {
        padding-top: $space-y-mobile-index-section;
        padding-bottom: $space-y-mobile-index-section;
    }

    @media (min-width: $screen-lg) {
        border-radius: 25px;
    }

    &--default {
        background-color: $primary-lightest;
    }
    &--bright {
        background-color: $primary-dark;
        color: white;
    }

    &__title {
        text-align: center;

        margin-bottom: $base-d * 32;

        @media (max-width: $screen-md) {
            margin-bottom: $base-m * 16;
        }
    }

    &__subtitle {
        margin-left: 4em;
        margin-bottom: .875em;

        @include mediaMax($screen-md) {
            margin-bottom: $base-m * 4;
        }
    }

    &__row {
        @include row();

        @media (min-width: $screen-md) {
            padding-left: 6.67vw;
            padding-right: 6.67vw;
        }
    }

    &__col {
        @include col('md', 6);

        @media (max-width: $screen-md) {
            @include col('xs', 12);

            &:first-of-type {
                margin-bottom: $base-m * 16;
            }
        }
    }

    &__list {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin-bottom: $base-d * 8;

            @media (max-width: $screen-md) {
                margin-bottom: $base-m * 4;

                &:last-of-type {
                    margin-bottom: $base-m * 8;
                }
            }
        }
    }

    &__btn {
        margin-left: $base-d * 36;

        @include mediaMax($screen-md) {
            margin-left: $base-m * 28;
        }
    }
}