.index {
    font-family: $ff-primary;
    // font-size: calcFluidFontSize(14, 16, 320, 1440);
    line-height: 1.5;
    color: $color-text;

    &__promo {
        margin-top: 9.3vw;

        &.promo--vn,
        &.promo--tr {
            @media (max-width: $screen-sm) {
                margin-top: 14.3vw;
            }
        }
    }

    &__kinds {
        margin-top: 3.89vw;
    }

    &__steps {
        margin-top: 8.33vw;

        @include mediaMax($screen-md) {
            margin-top: $space-y-mobile-index-section;
        }
    }

    &__best-workers,
    &__reviews,
    &__verification {
        margin-top: $space-y-desktop-index-section;

        @include mediaMax($screen-md) {
            margin-top: $space-y-mobile-index-section;
        }
    }
}