.index {
    font-family: $ff-primary;
    font-size: calcFluidFontSize(14, 16, 320, 1440);
    line-height: 1.5;
    color: $color-text;

    &__promo {
        margin-top: 9.3vw;

        &.promo--vn,
        &.promo--tr {
            @media (max-width: $screen-sm) {
                margin-top: 14.3vw;
            }
        }
    }

    &__kinds {
        margin-top: 3.89vw;
    }
}