@import '../../sections/footer/footer.scss';
@import '../../sections/header/header.scss';
@import '../../sections/nav-top/nav-top.scss';
.layout--bright .search {
    background-color: $color-primary-lightest;
}

.search {
    background-color: #F4F4F4;

    .slogan {
        display: none;
    }
}