.btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border: none;
    border-radius: $brad-xxl;
    font-weight: 500;
    letter-spacing: .02em;
    transition: background .2s ease-out;

    &__icon {
        @include sqr(24px);

        &--left+.btn__text {
            margin-left: .25em;
        }
    }

    &__text+.btn__icon--right {
        margin-right: .25em;
    }
}

@import 'mods/sizes';
@import 'mods/colors';
@import 'mods/link';
@import 'mods/login';
@import 'mods/blink';