.dropdown {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    &--regions {
        @media (max-width: $screen-sm) {
            position: static;
        }

        .dropdown-body {
            width: 18.75em;

            @media (max-width: $screen-sm) {
                left: .5em;
                width: 95vw;
            }
        }
    }

    &__value {
        position: relative;
        background-color: transparent;
        border: 0;
        padding: 0;
        transition: color .2s ease-out;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $primary;
            transition: .25s ease-out;
        }

        &:hover {
            color: $primary;

            &::after {
                width: 100%;
            }
        }
    }

    &__icon {
        cursor: auto;
        color: $primary;
        @include sqr(24px);
        margin-left: 2px;

        @media (max-width: $screen-sm) {
            display: none;
        }
    }
}

.dropdown-body {
    position: absolute;
    top: calc(100% + .5em);
    left: -1em;
    list-style: none;
    max-height: 25em;
    background-color: #fff;
    border-radius: .62em;
    overflow-y: auto;
    z-index: 333;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05), 0px 7px 55px rgba(0, 0, 0, 0.05);
    transform: scaleY(0);


    margin: 0;
    padding: .5em;

    &--hidden {
        @include sr-only();
    }

    &--visible {
        transition: transform .15s ease-out;
        transform: scaleY(1);

        .dropdown-body__item a {
            opacity: 1;
        }
    }

    &__item {

        a {
            display: block;
            opacity: 0;
            text-decoration: none;
            color: inherit;
            transition: background .1s ease-out;
            border-radius: .25em;

            padding: .5em;

            &:hover {
                background-color: $primary-lighter;
            }
            &:focus {
                color: white;
                outline: none;
                background-color: $primary;
            }
        }
    }
}