.header {
    &--white {
        background-color: #fff;
    }
    
    &__container {
        @include container(
            $xs-grid-gutter:  16px,
            $sm-grid-gutter:  32px,
            $md-grid-gutter:  32px,
            $lg-grid-gutter:  32px,
            $xl-grid-gutter:  0,
            $xxl-grid-gutter: 0
        );
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        padding-top: 1em;
        padding-bottom: 1em;
    }

    &__logo {
        .logo__text {
            @media (max-width: $screen-sm) {
                visibility: hidden;
                width: 1px;
                height: 1px;
                margin: -1px;
            }
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
    }

    &__menu-item {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: 1.5em;

        @media (max-width: $screen-md) {
            margin-left: .85em;
        }

        &--start {
            @include mediaMax($screen-md) {
                display: none;
            }

            @include mediaMin($screen-lg) {
                &+.header__menu-item {
                    margin-left: $base-d * 18;
                }
            }
        }
    }
}

.layout--bright .index .header {
    &::before {
        content: '';
        position: absolute;
        width: 1200px;
        height: 1200px;
        background-image: radial-gradient(50% 50% at 50% 50%, #FFF6E9 33.48%, rgba(233, 238, 255, 0) 100%);
        opacity: .5;
        left: -414px;
        top: -651px;
        z-index: -1;
        
        @include mediaMax($screen-sm) {
            width: 369px;
            height: 369px;
            left: -138px;
            top: -117px;
        }
    }
}

.layout--default {
    .header--white {
        @include mediaMin($screen-md) {
            .header__container {
                padding-top: $base-d * 5;
                padding-bottom: $base-d * 5;
            }
        }
    }
}