// цвета кнопки: 
//     -primary
//     -secondary(для яркой темы(вьетнам, турция))
//     -outline

.btn {
    &--primary,
    &--secondary {
        color: white;
    }

    &--primary {
        background-color: $color-primary;
    
        &:hover {
            background-color: $color-primary-dark;
        }
    }
    
    &--secondary {
        background-image: linear-gradient(134.56deg, #FD5E9F 11.24%, #E01266 87.02%);
    }
    
    &--outline {
        color: $color-primary;
        background-color: transparent;
        font-weight: 400;
        border: 1px solid $color-primary;
    
        &:hover {
            background-color: $color-primary-lighter;
        }
    
        &:active {
            opacity: .6;
        }
    }
}