.btn {
    &--link {
        font-weight: 400;
        letter-spacing: normal;
        transition: .2s ease-out;

        &--primary {
            color: $color-primary;
        }

        &--feedback {
            @include mediaMax($screen-xl) {
                .btn__text {
                    @include sr-only();
                }
            }

            @media (min-width: $screen-sm) and (max-width: $screen-xl) {
                .btn__icon {
                    display: block;
                    color: $color-primary;
                }
            }

            .btn__icon {
                display: none;
            }
        }

        .btn__text {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: $color-primary;
                transition: .25s ease-out;
            }
        }

        &:hover .btn__text::after {
            width: 100%;
        }

        &:active {
            opacity: .6;
        }
    }
}